h4 {
  text-align: center;
}

.form-group {
  text-align: center;
}

.btn-primary {
  margin-top: 10px;
  width: 50%;
}

.doctorNameClass {
  font-style: normal;
}

  .practiceClass {
    font-size: 12px;
    font-style: italic;
    font-stretch: extra-condensed;
  }
